* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-color: #e2e8f0;
    --accent-color: #db7207;
    --card-bg-color: lightblue;
    --nav-font: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #B88E72;
}

.header-container {
    height: 75px;
    background: var(--accent-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container h1 {
    display: flex;
    padding-left: 50px;   
    color: var(--text-color);
    font-size: 24px;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding-right: 18px;
    gap: 20px;
    font-size: 18px;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

.header-links a {
    font-family: var(--nav-font);
    text-decoration: none;
    color: inherit;
}

.header-links li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-decoration-thickness: 2px;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    width: 700px;
    color: var(--text-color);
}

.intro {
    font-size: 3rem;
    
}

.subtext {
    font-size: 1rem;
    margin-top: 50px;
    margin-right: 50px;
}

.intro-image {
    border: 3px solid var(--accent-color);
    border-radius: 15px;
    max-width: 350px;
    max-height: 450px;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 100px;
    margin: 80px 0px;
}

.info-image {
    border: 3px solid var(--accent-color);
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 150px;
    text-align: center;
    align-items: center;
}

.footer {
    background: var(--accent-color);
    padding: 20px;
    font-size: 20px;
    color: var(--text-color);
    font-family: var(--nav-font);
    margin-top: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
